:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#content-section {
    margin-top: auto;
}

.main-img {
    max-height: 450px;
    width: 500px;
}

#footer-section {
    margin-top: auto;
    margin-bottom: 15px;
}

h2 {
    margin-top: 50px;
}

.menu-content {
    margin: 0 auto;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
.menu-item img {
    max-width: 200px;
    margin-right: 20px;
}
.menu-item h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.menu-item p {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}
.menu-item .price {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

#contactForm {
    width: 400px;
    margin: 0 auto;
}