:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#content-section {
    margin-top: auto;
}

.main-img {
    max-height: 450px;
}

#footer-section {
    margin-top: auto;
    margin-bottom: 15px;
}